.required>label:after {
    content: "*";
    color: #ff4c52;
    font-family: FontAwesome;
    font-size: 13px;
    position: absolute;
    margin-left: 5px;
    font-weight: normal;
}

.login-letter-separator {
    width: 100%;
    text-align: center;
    margin: 10px 0px;
}

.btn-google {
    background: #DB4437;
}

.btn-facebook {
    background: #3b5998;
}

.btn-google, .btn-facebook {
    color: #fff;
    transition: all .3s ease;
}

.btn-google:hover, .btn-facebook:hover {
    color: #fff;
    filter: opacity(.9);
}

.form-check-label{
    color: #76838f !important;
}